* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f5f1;
  margin: 40px;
  color: #4d4d4d;
  padding-top: 64px;
  font-family:
    "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
}

a {
  text-decoration: none;
  
}




.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #f8f5f1; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.nav-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.nav-logo img {
  height: 40px;
  display: block;
}



.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-item a {
  text-decoration: none;
  color: #333; 
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.2s;
}


.nav-item a:hover {
  color: #000;
}




.nav-btn {
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 600;
  background-color: #b95050;
  color: #ffdbdb; 
  transition: opacity 0.2s;
}

.nav-btn:hover {
  opacity: 0.85;
}




.hero{
  margin-top: 50px;
  margin-bottom: 40px;
}

.texto h1{
  font-size: 55px;
  color: #d78ca8;
  margin-bottom: 15px;
}

.texto p{
  font-size: 18px;
  line-height: 28px;
}




.filtros{
  background: white;
  padding: 30px;
  border-radius: 20px;

  display: flex;
  gap: 20px;
  align-items: end;

  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.campo{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.campo label{
  margin-bottom: 8px;
  font-weight: bold;
}

.campo select{
  padding: 14px;
  border-radius: 12px;
  border: 2px solid #eee;
  outline: none;
}




.pets{
  margin-top: 50px;
  margin-bottom: 60px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card{
  background: white;
  border-radius: 20px;
  overflow: hidden;

  box-shadow: 0 5px 15px rgba(0,0,0,0.05);

  transition: .3s;
}

.card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.info{
  padding: 20px;
}

.info h2{
  margin-bottom: 15px;
  color: #d78ca8;
}

.info p{
  margin-bottom: 8px;
}

.botao {
  display: inline-block;
  padding: 10px 20px;
  background: #a7b884;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: #8fae6c;
}

.info , .botao{
  display: inline-block;
  margin-top: 15px;
}




@media(max-width:900px){

  .nav-wrapper{
    flex-direction:column;
    padding:15px;
    height: auto;
  }

  .nav-list{
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
  }

  body{
    padding-top:170px;
  }

}

@media(max-width:700px){

  .linha-topo{
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
  }

  .usuario{
    flex-direction:column;
    align-items:flex-start;
  }

  .acoes{
    flex-direction:column;
  }

}