*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:
  "Trebuchet MS",
  "Lucida Grande",
  "Lucida Sans Unicode",
  "Lucida Sans",
  Tahoma,
  sans-serif;
}

body{
  background:#f8f5f1;
  color:#4d4d4d;
  padding-top:90px;
}



.header{
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  background:#f8f5f1;
  box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

.nav-wrapper{
  max-width:1200px;
  margin:auto;
  padding:0 24px;
  min-height:64px;

  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:20px;
}

.nav-logo img{
  height:40px;
}

.nav-list{
  display:flex;
  align-items:center;
  gap:25px;
  list-style:none;
}

.nav-item a{
  color:#333;
  text-decoration:none;
  font-size:1rem;
  transition:0.2s;
}

.nav-item a:hover{
  color:#993c1d;
}

.nav-btn{
  padding:8px 20px;
  border-radius:6px;
  background:#b95050;
  color:#ffdbdb;
  text-decoration:none;
  font-weight:600;
}

.nav-btn:hover{
  opacity:0.9;
}



.container{
  width:100%;
  max-width:1000px;
  margin:auto;
  padding:20px;
}



.topo-pagina{
  background:white;
  border-radius:14px;
  padding:25px;

  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:20px;

  margin-bottom:20px;
}

.topo-pagina h1{
  margin-bottom:5px;
}

.topo-pagina p{
  color:#8f8f8f;
}

.novo-btn{
  padding:12px 20px;
  border:none;
  border-radius:10px;
  background:#a7b884;
  color:#656d54;
  cursor:pointer;
}

.novo-btn:hover{
  opacity:0.9;
}



.lista{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.animal-card{
  background:white;
  border-radius:14px;
  padding:20px;

  display:flex;
  gap:20px;
  align-items:center;
}

.animal-img{
  width:80px;
  height:80px;
  border-radius:14px;

  background:#d29dac;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:35px;
}

.animal-info{
  flex:1;
}

.linha-topo{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:10px;
}

.linha-topo h2{
  font-size:24px;
}

.animal-info p{
  color:#8f8f8f;
  margin-bottom:12px;
}

.tags{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

.tags span{
  background:#bddfee;
  color:#4c6570;

  padding:5px 12px;
  border-radius:20px;

  font-size:13px;
  font-weight:bold;
}



.status{
  padding:6px 14px;
  border-radius:20px;
  font-size:13px;
  font-weight:bold;
}

.disponivel{
  background:#a7b884;
  color:#fff;
}

.tratamento{
  background:#fff0ae;
  color:#8a6300;
}

.adotado{
  background:#e0e0e0;
  color:#555;
}



@media(max-width:900px){

  .nav-wrapper{
    flex-direction:column;
    padding:15px;
    height: auto;
  }

  .nav-list{
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
  }

  body{
    padding-top:170px;
  }

}

@media(max-width:700px){

  .topo-pagina{
    flex-direction:column;
    align-items:flex-start;
  }

  .animal-card{
    flex-direction:column;
    align-items:flex-start;
  }

  .linha-topo{
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
  }

}